<!DOCTYPE html>
<html>
<head>
    <title>TimeClock Dashboard</title>
    <script src="../static/app.js"></script>
</head>
<body>
    <h1>Welcome to the Dashboard, {{ user.name }}!</h1>
    <p>Your role is: {{ user.role }}</p>
    
    <br>
    <!-- Add your dashboard content here -->
    <div>
        <div>
            <Label>Get TotalTime</Label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" onclick="fetchTotalTime()">TotalTime</button>
            <pre id="result6">test</pre>
        </div>
        <div>
            <Label>Get all TotalTime</Label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" onclick="fetchAllTotalTime()">TotalTime</button>
            <pre id="result7">test</pre>
        </div>
    </div>

    <!-- Logout Form -->
    <form method="POST" action="{{ url_for('logout') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
